/* header */ 

* { box-sizing: border-box; }

        body { margin: 0; }        

ul, ol { padding: 0; }

li { list-style-type: none; }

a { text-decoration: none; color: #000; }

header{
    background-color: rgb(104, 159, 165);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
}


form{
    padding: 2%;  
    text-align: right;  }

header ul a{
    text-decoration: none;
    color: white;
    padding: auto; 
    text-align: center;  
    list-style: none;
    width: 100px;
    max-width: 1000px;
    margin: auto;   } 

header ul{
    display: flex;
    justify-content: space-between;  
    flex-direction: row;
    width: 700px;
}

header img{
    width: 12vw;
    height: 25vh;
}
header ul a:hover{
    background: #fff;
    color: rgb(125, 163, 180);}


/* footer */
footer{
    background-color: black;
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px;
}


 .tituloIntegrantes{
    font-size: 25px;
    font-weight: bolder;
}

/*Genero*/ 
.peliculasGenero{
    padding: 15px;
    margin: 0%;
    text-align: center;
    font-size: 50px
}

.seriesGenero{
    padding: 15px;
    margin: 0%;
    text-align: center;
    font-size: 50px
}

body{
    background-color:rgba(16, 17, 16, 0.815);
    color: white;
}

a {
    color: white;
}


.listaGeneroPelis{
    display: flex;
    justify-content: space-around;   
}


.itemListaGeneroPelis{
    width: 100px;
    height: 50px;
}


.listaGeneroSeries{
    display: flex;
    justify-content: space-around;
}

.itemListaGeneroSeries{
    width: 100px;
    height: 50px;
}

/*home*/

h2{
    background-color: rgb(104, 159, 165);
    text-align: center;
    }

.peliculasPopulares{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 10px 10x;
}

.peliculasPopulares article{
    width: 15%;
}

.peliculasPopulares article img{
    width: 100%;
}

.seriesPopulares{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 10px 10x;
}

.seriesPopulares article{
    width: 15%;
}

.seriesPopulares article img {
    width: 100%;
}

.LoMasVistoEnPeliculas{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 10px 10x;
}

.LoMasVistoEnPeliculas article{
    width: 15%;
}

.LoMasVistoEnPeliculas article img {
    width: 100%;
}

/*favoritos*/
.pelis{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 10px 10x;
}

.pelis article{
    width: 30%;
}

.pelis article img{
    width: 100%;
}
.series{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 10px 10x;
}

.series article{
    width: 30%;
}

.series article img{
    width: 100%;
}